.gameBoard {
  background: url("../../assets/images/game-image.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;

.gameBoardInfo{
}
.gameBoardLabyrinth {
  width: 100%;


}
.gameRow {
  display: flex;
  justify-content: center;
}
.gameCell {
  flex: 0 0 auto;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #cbbfbf;
}
.finishCell{
  background: url("../../assets/images/snowflake.svg") no-repeat center center;
  background-size: cover;
}
.wall {
  background-color: #173a0c;

}
.snowflake{
  background: url("../../assets/images/snowflake.svg") no-repeat center center;
  background-size: cover;
}

.possibleMove {
  background-color: #0cc585;
}

@media (max-width: 1200px) {
  .gameBoardLabyrinth .gameCell {
    width: 25px;
    height: 25px;
  }
  @media (max-width: 768px) {
    .gameBoardLabyrinth .gameCell {
      width: 20px;
      height: 20px;
    }
  }
  @media (max-width: 320px) {
    .gameBoardLabyrinth .gameCell {
      width: 15px;
      height: 15px;
    }
  }

}
.selectedCell {
  background-color: red;
}}

