.players{
  margin-right: 100px;
  list-style-type: none;


  .player {
    margin: 10px;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 3px black;
    opacity: 0.5;
  }
  .player-1 {
    background-color: var(--color-player-1);
  }
  .player-2 {
    background-color: var(--color-player-2);
  }
  .player-3 {
    background-color: var(--color-player-3);
  }
  .player-4 {
    background-color: var(--color-player-4);
  }
  .player-5 {
    background-color: var(--color-player-5);
  }
  .player-6 {
    background-color: var(--color-player-6);
  }
  .active {
    animation: pulse 1s infinite;
    opacity: 1;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  @media screen and (max-width: 768px) { /* Typical tablet screen width */
    margin: 50px 0;
  }
}

