html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}
a:visited {
  color: inherit;
}
p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;

    font-family: 'DM Serif Text', sans-serif;

  //-webkit-background-size: cover; /* For Safari 3.1 to 6.0 */
  //-moz-background-size: cover; /* For Firefox 3.6 to 15 */
  //-o-background-size: cover; /* For Opera 10.5 to 12.0 */
  --color-player-1: #FF0000;
  --color-player-2: #06b706;
  --color-player-3: #0000FF;
  --color-player-4: #5d3604;
  --color-player-5: #800080;
  --color-player-6: #FFA500;
  --primary-blue: #032bfc;
  --hover-blue: rgba(4, 43, 245, 0.71);
  --gradient-start: #0365fc;
  --gradient-end: #032bfc;
  --hover-gradient-start: #0345ec;
  --hover-gradient-end: #031bdc;
  @keyframes twinkle {
    0% { box-shadow: 0 0 10px 2px rgba(0, 200, 0, 0.5), 0 0 10px 2px rgba(200, 0, 0, 0.5); }
    100% { box-shadow: 0 0 15px 3px rgba(0, 200, 0, 0.7), 0 0 15px 3px rgba(200, 0, 0, 0.7); }
  }

}
