html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

a:visited {
  color: inherit;
}

p {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  --color-player-1: #e70a44;
  --color-player-2: #042bf5;
  --color-player-3: #07e50b;
  --color-player-4: #f5e005;
  --color-player-5: #5e0404;
  --color-player-6: #424242;
}
