.playerToken {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
}


.player-1 { background-color: var(--color-player-1); }
.player-2 { background-color: var(--color-player-2); }
.player-3 { background-color: var(--color-player-3); }
.player-4 { background-color: var(--color-player-4); }
.player-5 { background-color: var(--color-player-5); }
.player-6 { background-color: var(--color-player-6); }
